.vscode/

ProblemSolverAPI/bin/
ProblemSolverAPI/obj/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

*.nupkg
*.snupkg
packages/
.nuget/

*.log

*.tmp
*.temp

*.dll
*.pdb

.idea/
*.sln.iml

.DS_Store

Thumbs.db